
       <!--End Navigator-->

          <!-- Start of top section-->
  <div class="backgroundfix">
    <div class="container">  
      <div class="main">
        <h1>ICT Library</h1>
        <p class="btn-primary">Welcome to the official ICT Library WebApp! Log in to manage your account, search for books, rent the books you like and subscribe to our newletter to keep up to date.</p>
      </div>
    </div>
  </div>
  <!--End top section-->

          <!--Start introduction-->
  <div class="supporting">
    <div class="container">
      <div class="col">
        <img src="../assets/Pictures/Sign.jpg">
        <h2>View Collection</h2>
        <p>Take a look at all the books in the library</p>
        <a class="btn-default" routerLink="viewall" >View</a>
      </div>
      <div class="col">
        <img src="../assets/Pictures/Search.png">
        <h2>Search For Books</h2>
        <p>Search for the title you want to see and update any changes</p>
        <a class="btn-default" routerLink="update">Search</a>
      </div>
      <div class="col">
        <img src="../assets/Pictures/Register.png">
        <h2>Add</h2>
        <p>Add a new book to the collection</p>
        <a class="btn-default" routerLink="entry">Add</a>
      </div>
    </div>
    <!--End introduction-->
    <!--Start of footer-->
    <div class="clearfix"></div>
  </div>
  <router-outlet></router-outlet>

  <div  class="footer">
    <div class="container">
    </div>
  </div>
